.btn {

  @apply 
    flex items-center justify-center
    w-[fit-content]
    rounded-full 
    px-[2.5rem] py-[1.5rem] xg:py-[1.2rem]
    border-solid border-[2px] border-transparent 
    leading-[1]
    transition-all ;

  &-small{
    @apply text-tiny px-[1.2rem] xg:px-[1.5] py-[.9rem] 
  }

  &-e-blue{
    @apply bg-e-blue hover:bg-deep-blue border-e-blue text-white; 

    &:hover{
      @apply bg-transparent text-e-blue;
    }

  }

  &-outline{
    @apply border-solid border-deep-blue-200 border-[2px]
    text-deep-blue-200
    hover:bg-deep-blue-200
    hover:text-white;
     ;
  }

}

.submit{
  @apply 
    flex items-center justify-center
    text-h6 xg:text-body
    w-full
    xg:w-[fit-content]
    px-[2.5rem] py-[1.5rem] xg:py-[1.2rem]
    border-solid border-[2px] border-transparent 
    btn-e-blue
    rounded-full transition-all;

    &:disabled{
      @apply bg-transparent border-solid border-deep-blue-200 border-[2px] text-deep-blue-200 opacity-100
    }

}