#hero{
  background: var(--gradient-1);
}


.lang-switcher{

  @apply relative top-[1.3rem] flex gap-[.7rem] xg:top-0 xg:pl-[3.5rem];

  .langs{
    @apply relative flex flex-col top-[1.4rem] gap-[.7rem];

    a{
        
      @apply opacity-0 order-2;

      &.active{
        @apply opacity-100 order-1;
      }

    }

  }

  &:hover{

    a{
      @apply opacity-100;
    }

  }

}

[data-stack="on"] .lang-switcher .langs{
  gap: .3rem;
}

.partners{
  @apply flex 
  w-full xg:w-75% 
  gap-5 xg:gap-20
  xg:mx-auto 
  place-items-center
  ctr-px pb-6 xg:p-0;
}


/* Team Image Animation  */
.team-to-wide{
  @apply relative w-full top-2 scale-100;
  clip-path: inset(10% 10% 10% 10% round 3rem);
  transition: all 0.75s ease-out;

  &.active{
    @apply top-0 scale-105;
    clip-path: inset(0% 0% 0% 0% round 0rem);
  }
  
}




