.lang-switcher{

  @apply relative top-[1.3rem] flex gap-[.7rem] xg:top-0 xg:pl-[3.5rem];

  .langs{
    @apply relative flex flex-col top-[1.7rem] gap-[.7rem];

    a{
        
      @apply opacity-0 order-2;

      &.active{
        @apply opacity-100 order-1;
      }

    }

  }

  &:hover{

    a{
      @apply opacity-100;
    }

  }

}

.partners{
  @apply flex xg:grid xg:grid-cols-4 gap-7 xg:gap-10 place-items-center w-fit xg:w-full;
}

.widescreen{

  max-width: initial;
  transition: all 0.65s ease;

  &.active{
    width: calc( 100% + var(--container-gap) * 2 );
    margin-left: calc(-1 * var(--container-gap) );
    border-radius: 0 !important;
  }
  
}


.hero-anim{
  @apply absolute top-0 left-0 w-full h-full pointer-events-none;
  animation: baller ease-in-out 10s infinite;

  .ball{
    @apply absolute top-[50%] left-[50%] translate-y-[-50%] translate-x-[-50%];
    width: 80vh;
    height: 80vh;
    border-radius: 1000px;
    background: radial-gradient(ellipse at center,  rgba(53,54,253,1) 0%,rgba(0,0,51,1) 58%); 
    opacity: .2;
    

    &:first-child{
      animation: ball1 ease-in-out 10s infinite;
    }

    &:last-child{
      animation: ball2 ease-in-out 10s infinite;
    }

  }

}

@keyframes baller{

  0%{
    transform: rotate(0);
    width: 100vw;
    top: 0;
  }

  33%{
    transform: rotate(0);
    top: 0;
    width: 100vw;
  }

  66%{
    transform: rotate(180deg);
    width: 100vh;
    top: 50vh;
  }

  100%{
    transform: rotate(0);
    width: 100vw;
    top: 0;
  }

}

@keyframes ball1{
  0%{
    transform: translate(-50%,-50%);
  }

  33%{
    transform: translate(-66vw,-50%);
  }

  66%{
    transform: translate(-66vw,-50%);
  }

  100%{
    transform: translate(-50%,-50%);
  }

}

@keyframes ball2{
  0%{
    transform: translate(-50%,-50%);
  }

  33%{
    transform: translate(33vw,-50%);
  }

  66%{
    transform: translate(33vw,-50%);
  }

  100%{
    transform: translate(-50%,-50%);
  }

}




