nav {
    @apply 
      fixed 
      flex flex-col 
      top-0 left-0 
      w-100% h-[100svh]
      bg-deep-blue
      ctr-px pt-20
      gap-2
      transition-transform
      duration-500
      overflow-hidden
      z-[999]

      xg:relative 
      xg:w-auto
      xg:h-full
      xg:bg-transparent
      xg:px-0 xg:py-0
      xg:gap-4
      xg:flex-row xg:justify-between;
      
      .item {
        @apply relative mb-1 xg:mb-0 z-30
        text-white text-h4 xg:text-small;

        &:not([href="#contacto"]){
          @apply flex items-center;
        }

      }

      .ball{
        @apply absolute w-[200vw] left-[-50vw] bottom-[-50vh] aspect-square rounded-full opacity-50 scale-150 translate-y-[-10%] pointer-events-none;
        background: var(--gradient-1);
      }

      .lang-switcher svg{
        font-size: 4rem;
      }

  }


/*//////////////////////////////////////////////////////////*/
/*////////////////////// MAX 992px //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

  @media (max-width: theme("screens.xg")) {

    nav {
      @apply translate-x-[100%];
    }

    body.menu-in {
      nav {
        transform: translateX(0);
      }
    }

  }

/*//////////////////////////////////////////////////////////*/
/*////////////////////// MIN 992px /////////////////////////*/
/*//////////////////////////////////////////////////////////*/

  @media (min-width: theme("screens.xg")) {

    nav {
      @apply bg-transparent h-full !important;
    }

  }