/*@font-face {
font-family: 'Akkurat';
src: url('../../Akkurat-Bold.woff2') format('woff2'),
    url('../../Akkurat-Bold.woff') format('woff');
font-weight: bold;
font-style: normal;
}*/

:root {
  --html: 10px;
  --h1: 6.8rem;
  --h2: 5.6rem;
  --h3: 4.4rem;
  --h4: 3.6rem;
  --h5: 2.4rem;
  --body: 1.8rem;
  --small: 1.6rem;
  --tiny: 1.4rem;
}

html {
  font-size: var(--html);
}

body {
  @apply font-light text-body;
}

p {
  @apply text-pretty ;
}

.text-big,
.text-h1,
.text-h2,
.text-h3 {
  @apply text-balance;
}

.text-h1{
  @apply font-light;
}

.text-h2, .text-h3{
  @apply font-light leading-[1.2];
}

.text-h4{
  @apply font-light leading-[1.1];
}

.mini-title{
  @apply text-body text-e-blue uppercase mb-3 font-medium;
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 375px //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.xs")) {
  :root {
    --html: 10px;
  }
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 640px //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.sm")) {
  :root {
    --html: 11px;
  }
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 768px //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

/* @media (min-width: theme("screens.md")) {
    :root {
      --html: 11px;
    }
  }
   */

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 992px //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.xg")) {
  :root {
    --html: 11px;
    --h1: 6.8rem;
    --h2: 5.6rem;
    --h3: 4.4rem;
    --h4: 3.6rem;
    --h5: 2.4rem;
    --body: 1.8rem;
    --small: 1.6rem;
    --tiny: 1.4rem;
  }
}

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// 1064px ////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.xl")) {
  :root {
    --html: 9px;
  }
}

/*//////////////////////////////////////////////////////////*/
/*//////////////////////// 1280px //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.2xl")) {
  :root {
    --html: 10px;
  }
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 1536px /////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.3xl")) {
  :root {
    --html: 11px;
  }
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 1920px /////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.4xl")) {
  :root {
    --html: 12px;
  }
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 2560px /////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.5xl")) {
  :root {
    --html: 15px;
  }
}
