.card{

  &-service{
    @apply relative flex flex-col justify-between flex-1 aspect-[1/1.05] cursor-pointer
   text-white bg-deep-blue  p-[2.5rem] rounded-2xl  overflow-hidden transition-all;

    h3{
      @apply relative text-h5 xg:text-h4 z-10 leading-[1.2];
    }

    & > div{
      @apply relative z-10;
    }

    .cta{
      @apply inline-flex underline mt-3;

      span{
        @apply hidden;
      }

    }

    &:after{
      content: "";
      @apply absolute w-[175%] h-[175%] top-0 left-0 z-0 translate-x-[50%] translate-y-[50%] opacity-0 pointer-events-none transition-all duration-[.5s];
      background: radial-gradient(103.32% 259.99% at 103.32% 98.15%, #3536FD 0%, #000033 72%)  !important;
    }

    &:hover{

      .cta {

        @apply underline;

        span{
          @apply inline-flex;
        }

      }

      &:after{
        @apply translate-x-[-25%] translate-y-[-25%] opacity-100;
      }

    }

  }

  &-client{
    @apply relative flex flex-col text-left py-4;

    h3{
      @apply font-serif text-h5 xg:text-h4 tracking-[-0.05em] min-h-[15rem] xg:min-h-[26rem];
    }

    p{
      @apply text-deep-blue font-[400] mb-3 min-h-[15rem];
    }

    .ctas{
      @apply flex gap-1;

      div{
        @apply btn btn-small btn-outline pointer-events-none !important;
      }

    }

    &:not(:last-child):after{
      @apply absolute content-[""] top-0 right-0 w-[1px] h-full bg-deep-blue-100 translate-x-4;
    }

  }

  &-team{
    min-width: calc(100% - 4rem);
    @apply relative xg:min-w-[auto] rounded-[1rem] cursor-pointer overflow-hidden;


    img{
      @apply aspect-[9/12.5] object-cover;
    }

    figcaption{
      @apply absolute bottom-3 left-3 z-50 
      flex justify-between text-white leading-[1.2];
      width: calc(100% - 6rem);
    }

    svg{
      @apply w-[3.2rem] h-auto;
    }

    &:before{
      content: "";
      @apply absolute top-0 left-0 w-full h-full z-20 pointer-events-none;
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); 
    }

    &:hover{

      svg {

        rect{
          fill: theme(colors.deep-blue);
        }

        path{
          fill: white;
        }

      }

    }

  }

}