  .modal {
    @apply fixed
            w-full
            top-0
            left-0
            flex
            items-center
            justify-end
            bg-[#000033D9]
            z-[999]
            backdrop-blur-sm
            translate-x-full
            transition-transform
            duration-[700ms];
    height: 100vh;
    height: 100dvh;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;



    &-box {
      @apply relative w-full xg:w-[66%] h-full bg-white  text-deep-blue ctr-px xg:px-5 pt-12 pb-5 overflow-y-auto;

      &::-webkit-scrollbar { opacity: 0; width: 0 }

    }

    .close {
      @apply absolute
            top-5
            z-[99]
            cursor-pointer
            text-deep-blue;

      left: var(--container-gap) ;

      svg{
        @apply w-[2rem] h-[2rem];
        color: theme(colors.deep-blue) !important;

        use{
          color: theme(colors.deep-blue) !important;
        }

      }

    }

    h3{
      @apply text-h5 mb-4 leading-[1.2];
    }

    p,ul{
      @apply text-small;
    }

    p{
      @apply font-[400] mb-2;

      &:last-child{
        @apply mb-0;
      }

    }

    ul{
      @apply list-disc mt-3 ml-3;
    }

    &[data-show="on"] {
      transform: translateX(0);
    }

    &[data-type="service"]{

      .modal-box > div{
        @apply grid xg:grid-cols-[1fr_1.5fr] gap-2 mb-5;
      }
    }

    &[data-type="team"]{

      .heading, .content{
        @apply relative grid grid-cols-2;
      }

      .content{
        @apply mt-[-5rem];
      }

      picture{
        @apply relative block h-[66vh] xg:top-[-12rem] right-[0] overflow-hidden !important ;
        width: calc(100% + 5rem);

        img{
          @apply w-full rounded-none object-cover translate-y-[-5rem];
          height: calc(100% + 12rem);
        }

      }

      .social{
        @apply flex gap-1;
      }

    }

  }


/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 992px //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.xg")) {
  .modal {
    .close {
      left:calc( 33% + 7rem );
    }
  }
}