---
import Layout from "../layout/Layout.astro";
import { DATA } from '../data/about'

---

<Layout 
title="Sobre nosotros"
claim="La mejor página de About"
>
    <div class="container row section-b min-h-[75vh]">

        <div class="md:col-1-6">
            <h1 class="text-big mb-5">
                About
            </h1>
        </div>

        <div class="md:col-7-13">
        {
            DATA.map( post =>(
                <article>
                    <h3>
                        {post.title}
                    </h3>
                </article>
            ))
        }
        </div>

    </div>
</Layout>
