---
// export const prerender = false;
import { Picture } from "astro:assets";
import Layout from "@/layout/Layout.astro";

import CardsServicios from "../components/CardsServicios.astro";
import CardsClientDesktop from "../components/CardsClientDesktop.astro";
import CardsClientMobile from "../components/CardsClientMobile.astro";
import CONTACT from '../data/contact.json';
import ContactText from "@/components/ContactText.astro";
import Form from "@/components/Form.astro";

import teamIMG from "../assets/team.jpg";
import TeamDesktop from "@/components/TeamDesktop.astro";
import TeamMobile from "@/components/TeamMobile.astro";
import PartnersDesktop from "@/components/PartnersDesktop.astro";
import PartnersMobile from "@/components/PartnersMobile.astro";
---

<Layout
  title="Bull"
  claim="El nuevo framework de maquetación de sitios de I+D"
  description="El nuevo framework de maquetación de sitios de I+D"
>
  <!-- Hero -->
  <section id="hero" class="h-screen relative w-full flex items-center justify-center overflow-hidden">

    <video class="absolute top-0 left-0 w-full h-full object-cover pointer-events-none -z-10" src="/Bull-Back.mp4" poster="/img/poster.jpeg" loop autoplay muted playsinline ></video>

    <h1 class="relative text-h3 xg:text-h2 z-10 text-white text-center">
      Tu socio en finanzas <br class="xg:hidden" /> corporativas <br class="hidden xg:block" />
      y estrategia empresarial
    </h1>

    <a href="#experiencia" class="xg:hidden absolute left-[50%] bottom-3 translate-x-[-50%] z-10 text-white"> Scroll para continuar </a>

  </section>

  <!-- Experiencia -->
  <section id="experiencia" class="container row section xg:text-center">
    <div class="col-1-13 xg:col-3-11">
      <h2 class="mini-title">Experiencia</h2>
      <p class="text-h5 xg:text-h3 text-deep-blue">
        Ofrecemos soluciones innovadoras y estratégicas para impulsar el
        crecimiento, la rentabilidad y la eficiencia de tu empresa.
      </p>
    </div>
  </section>

  <!-- Team Image -->
  <section id="team" class="overflow-hidden" >
      <Picture
        class="w-full object-cover max-w-[initial] rounded-3xl team-to-wide"
        src={teamIMG}
        formats={["webp"]}
        alt="Bull Team"
      />
  </section>

  <!-- Partners -->
  <section class="section-top">

    <div class="container row " >

      <div class="xg:col-1-10">
        <h2 class="text-h5 xg:text-h3">
          <span class="text-deep-blue">
            Más de 15 años de experiencia en dirección <br class="hidden xg:block" />
            financiera en diversas industrias y geografías.</span>
          <br />
          <span class="text-e-blue">Generamos mejoras inmediatas con un <br class="hidden xg:block" /> enfoque proactivo y dinámico.</span>
        </h2>
      </div>

      <div class="xg:col-1-13 pt-10 xg:pt-15 pb-3 hidden xg:block">
        <div class="partners">
            <PartnersDesktop class="partners" />
        </div>
      </div>

    </div>

    <div class="xg:hidden mt-7">
      <PartnersMobile class="partners" />
    </div>
  
  </section>

  <!-- Servicios -->
  <section id="servicios" class="section-bottom pt-4 sm:pt-6 xg:pt-11 3xl:pt-14">
    
      <div class="container row mb-10">
        <div class="col-1-13">
          <hr class="h-[2px] bg-deep-blue-300 mb-[2.5rem]" />
          <h2 class="mini-title">Servicios</h2>
        </div>

        <div class="xg:col-1-7">
          <p class="text-h5 xg:text-h4 text-deep-blue">
            Proporcionamos una amplia gama de servicios financieros y
            estratégicos para impulsar el crecimiento y la eficiencia de tu
            empresa.
          </p>
        </div>
      </div>

        <CardsServicios />

  </section>

  <!-- Testimonios -->
  <section class="container row section-top xg:pb-5 text-center xg:mt-[-10vh] overflow-hidden">
    <div class="xg:col-3-11 mb-10 xg:mb-12">
      <h2 class="mini-title">Historias de Éxito</h2>
      <p class="text-h5 xg:text-h3 text-deep-blue">
        Nuestros clientes comparten su visión y ambición de generar un cambio
        positivo
      </p>
    </div>
    <div class="col-1-13 hidden xg:grid md:grid-cols-3 gap-4 xg:gap-8">
      <CardsClientDesktop/>
    </div>

    <div class="testimonios xg:hidden">
        <CardsClientMobile/>
    </div>

  </section>

  <!-- Nosotros -->
  <section id="nosotros" class="section-top">

    <div class="container row xg:mb-15">
      <div class="col-1-13">
        <hr class="h-[2px] bg-deep-blue-300 mb-[2.5rem]" />
        <h2 class="mini-title">Nosotros</h2>
      </div>
      <div class="col-1-13 hidden xg:block">
        <TeamDesktop />
      </div>
    </div>

    <div class="xg:hidden">
      <TeamMobile />
    </div>

  </section>

  <!-- Contacto -->
  <section id="contacto" class="container row section xg:mb-12">

    <div class="xg:col-1-4">
      <h2 class="mini-title mb-[2.4rem] xg:mb-10">Contáctanos</h2>
      <div class="hidden xg:block">
        <ContactText links={CONTACT} />
      </div>
    </div>

    <div class="xg:col-7-13">
      <h3 class="text-h5 xg:text-h4 text-deep-blue mb-6 xg:mb-10">
        ¿Listo para desbloquear el <br />
        potencial de tu negocio?
      </h3>
      <Form />
    </div>

    <div class="xg:hidden">
      <ContactText links={CONTACT} />
    </div>

  </section>

</Layout>


