---
import "../css/components/forms.css";
import CustomSelect from "./CustomSelect.astro";
---
<form id="contact-form" name="form" action="#" method="post" accept-charset="utf-8" >

<div class="field">
  <input
    type="text"
    name="company"
    placeholder="Empresa"
    required
  />
  <span class="valid-msg"> Coloca el nombre de tu empresa</span>
</div>

  <div class="field">
    <input
      type="text"
      name="name"
      placeholder="Nombre y Apellido"
      pattern="^[A-Za-z]+ [A-Za-z]+$"
      required
    />
    <span class="valid-msg"> Coloca tu nombre y Apellido</span>
  </div>

  <div class="field">
    <input
      type="email"
      name="email"
      placeholder="ejemplo@email.com"
      title="Debe ser un correo válido"
      required
    />
    <span class="valid-msg"> Coloca un correo válido</span>
  </div>

  <div class="field">
    <textarea
      cols=""
      name="message"
      rows=""
      placeholder="Mensaje..."
      minlength="16"></textarea>
    <div class="valid-msg">Tu mensaje debe ser de mas de 16 caracteres.</div>
  </div>

  <div class="flex justify-between items-end">

    <CustomSelect options={
      [
        {label: '¿En qué servicio estás interesado? ', value: ''}, 
        {label: 'CFO as a Service Finance', value: 'CFO as a Service Finance'}, 
        {label: 'CFO as a Service Business', value: 'CFO as a Service Business'},
        {label: 'Internacionalización de Negocios', value: 'Internacionalización de Negocios'},
        {label: 'Investor Relations', value: 'Investor Relations'},
        {label: 'M&A', value: 'M&A'},
        {label: 'Aplicación de Tecnología al Negocio', value: 'Aplicación de Tecnología al Negocio'}
      ]
      } />

    <button type="submit" disabled class="btn btn-e-blue" >
      <span class="flex items-center">
        <span class="loader mr-1"></span>
        <span class="white flex items-center">Enviar</span>
      </span>
    </button>
    
  </div>
</form>

<script>
  import contactForm from "@/js/contactForm";  
  contactForm();
</script>
