---
import "../css/components/forms.css";
import CustomSelect from "./CustomSelect.astro";

/* GET LANG */
import { getI18N } from "../i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

---
<form id="contact-form" name="form" action="#" method="post" accept-charset="utf-8" >

  <input type="checkbox" name="_honeypot" style="display:none" tabindex="-1" autocomplete="off"/>
  <input type="hidden" name="lang" value={ currentLocale } >

<div class="field">
  <input
    type="text"
    name="company"
    placeholder={ i18n.FORM.COMPANY }
    required
  />
  <span class="valid-msg"> 
    { i18n.FORM.COMPANY_MSG }
  </span>
</div>

  <div class="field">
    <input
      type="text"
      name="name"
      placeholder={ i18n.FORM.NAME }
      pattern="^[A-Za-z]+ [A-Za-z]+$"
      required
    />
    <span class="valid-msg">
      { i18n.FORM.NAME_MSG }
    </span>
  </div>

  <div class="field">
    <input
      type="email"
      name="email"
      placeholder={ i18n.FORM.EMAIL }
      title="Debe ser un correo válido"
      required
    />
    <span class="valid-msg"> 
      { i18n.FORM.EMAIL_MSG }
    </span>
  </div>

  <div class="field">
    <textarea
      cols=""
      name="message"
      rows=""
      placeholder={ i18n.FORM.MESSAGE }
      minlength="16"></textarea>
    <div class="valid-msg">
      { i18n.FORM.MESSAGE_MSG }
    </div>
  </div>

  <div class="flex flex-col xg:flex-row justify-between items-end">

    <CustomSelect/>

    <button type="submit" disabled class="submit mt-4 xg:mt-0" >
      <span class="flex items-center">
        <span class="loader mr-1"></span>
        <span class="white flex items-center">
          { i18n.FORM.SEND }
        </span>
      </span>
    </button>
    
  </div>

  <div id="result" class="mt-4 xg:mt-6 text-e-blue"></div>

</form>

<script>
  import contactForm from "../js/contactForm";  
  contactForm();
</script>
