---
import { Icon } from 'astro-icon/components'

---

<div class="lang-switcher">
  <Icon name="world" class="w-2 h-auto" />
  <div class="langs">
    <a href="" class="active"> ES </a>
    <a href=""> EN </a>
  </div>
  <Icon name="vector-down" class="w-[1.5rem] h-auto" />
</div>
