---
import { Icon } from 'astro-icon/components'

---

<div class="lang-switcher">
  <Icon name="world" class="w-2 h-auto" />
  <div class="langs">
    <a href="" class="active"> 
      <span class="xg:hidden">Español</span>
      <span class="hidden xg:block">ES</span>
    </a>
    <a href=""> 
      <span class="xg:hidden">English</span>
      <span class="hidden xg:block">EN</span>
    </a>
  </div>
  <Icon name="vector-down" class="w-[1.5rem] h-auto" />
</div>
