---
import { Picture } from "astro:assets";

import "swiper/css";
import 'swiper/css/pagination';

import Nuskle from "../assets/Nuskle.png";
import Ginkgo from "../assets/Ginkgo.png";
import OnFloor from "../assets/OnFloor.png";

---
<style>
  .swiper-slide{
    @apply flex items-center justify-center
    ctr-px min-h-[15rem];
  }
</style>
<div class="swiper swiper-partners">
  <div class="swiper-wrapper pb-8 xg:pb-6">
    <div class="swiper-slide">
      <Picture class="w-full" src={Nuskle} inferSize formats={["webp"]} alt="Nuskle" />
    </div>
    <div class="swiper-slide">
      <Picture class="w-95%" src={Ginkgo} inferSize formats={["webp"]} alt="Ginkgo" loading="sync" />
    </div>
    <div class="swiper-slide">
      <Picture class="w-95%" src={OnFloor} inferSize formats={["webp"]} alt="OnFloor" />
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>

<script>
  import Swiper from "swiper";
  import { Autoplay, Pagination } from "swiper/modules";

  function swiperPartners() {
    const SwiperPartners = new Swiper(".swiper-partners", {
      modules: [Autoplay, Pagination],
      spaceBetween: 10,
      slidesPerView: 1,
      speed: 800,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      breakpoints: {
        0: {
          slidesPerView: 2,
        },
        768: {
          slidesPerView: 3,
        },
        992: {
          slidesPerView: 4,
        },
      }
    });

  } // swiperPartners


  document.addEventListener("DOMContentLoaded", swiperPartners  );
  document.addEventListener("astro:after-swap", swiperPartners );
</script>
