---
import { Icon } from "astro-icon/components";
import { getHoy } from '../js/gethoy.js'
const hoy = getHoy();
---
<footer class="container row py-5 xg:ctr-pb items-end" >

    <div class="xg:col-1-7" >
        <Icon class="w-full h-auto" name="bull-iso" />
        <Icon class="hidden xg:block w-[15rem] h-auto" name="logo-claim" />
    </div>

    <div class="xg:col-7-11 hidden xg:block">
        <p>
            © 2024 Bull Advisors
        </p>
    </div>

    <div class="xg:col-11-13 hidden xg:block">
        <p>
            Design by MAAD
        </p>
    </div>

</footer>


