---
import { Icon } from 'astro-icon/components'
import "../css/layout/header.css";
import LangSwitcher from "../components/LangSwitcher.astro";
import Burger from "../components/Burger.astro";
import Menu from "../components/Menu.astro";
const { width } = Astro.props;

/* GET LANG */
import { getI18N } from '../i18n';
const { currentLocale } = Astro;
const i18n = getI18N({currentLocale});
---
<header class="container row py-3 mb-4 items-center" >
    
    <div class="md:col-1-4">
        <a class="brand relative block z-[9999]" href="/"  >
            <Icon name="logo" class="w-[9.5rem] h-auto" />
        </a>
    </div>
    <div class="md:col-4-10 flex justify-center h-full items-center">

        <Menu items={
            [
                [ i18n.MENU.EXPERIENCIA, `#experiencia`],
                [i18n.MENU.SERVICIOS, '#servicios'],
                [i18n.MENU.NOSOTROS, '#nosotros']
            ]
        } />

        <Burger/>
        
    </div>

    <div class="md:col-10-13 hidden xg:flex justify-end">
        <div class="flex text-white items-center gap-3">
            <LangSwitcher />
            <a href="#contacto" class="btn btn-e-blue anchor" >
                {i18n.WORDS.CONTACTUS}
            </a>
        </div>
    </div>
    
</header>
